/* ELEMENT SELECTORS */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

h3 {
    text-align: center;
    color: white;
    background-color: #1d3557;
    padding: 10px;
}

marquee {
    color: #e63946;
    font-weight: bold;
    font-size: 18px;
}

/* ID SELECTOR */
#mainForm {
    width: 400px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
}

/* CLASS SELECTORS */
.inputBox {
    width: 95%;
    padding: 6px;
    margin-bottom: 10px;
}

.section {
    margin-bottom: 15px;
    border: 2px solid #ccc;
    padding: 10px;
    color: rgb(131,64,109);
}

.note {
    color: red;
    font-size: 13px;
}

.submitBtn {
    color: rgb(134, 24, 24);
    font-size: 16px;
    cursor: pointer;
}

.resetBtn {
    color: rgb(228, 117, 54);
    font-size: 16px;
    cursor: pointer;
}
